@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Nunito', sans-serif;
  height: 805px;
  width: 1324px;
}
#root{
  display: grid;
  grid-template-columns: 336px 1fr;
  min-height: 805px;
  min-width: 1440px;
}
.sidebar{
  padding-top: 85px;
  padding-bottom: 85px;
  height: 805px;
  background-color: #fafafa;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.avatar{
  display: grid;
  height: 50px;
}
.person{
  justify-self: center;
  margin: 16px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.name{
  color: #727272;
  justify-self: center;
  margin: 6px;
  font-weight: 700;
}
.course{
  color: #727272;
  justify-self: center;
  font-weight: 400;
}
.menu{
  align-self: start;
  display: grid;
  grid-template-rows: 10% 10% 80%;
  padding: 67px;
  height: 500px;
}
.dashboard{
  color: #6A6A6A;
  cursor: pointer;
  height: 18px;
  width: 91px;
  text-decoration: none;
}
:hover.dashboard{
  cursor: pointer;
  font-weight: 700;
  color: #2F2E41;
}
.mycourses{
  color: #6A6A6A;
  height: 18px;
  width: 110px;
  cursor: pointer;
  text-decoration: none;
}
:hover.mycourses{
  cursor: pointer;
  font-weight: 700;
  color: #2F2E41;
}
.logouticon{
  display: grid;
  align-self: center;
  margin: 4px;
  height: 24px;
  width: 24px;
  color: #fafafa;
}
:hover.logouticon{
  cursor: pointer;
  font-weight: 700;
  color: #2F2E41;
}
.logout{
  align-self: center;
  display: flex;
  text-decoration: underline;
  cursor: pointer;
  height: 25px;
  width: 86px;
  color: #6A6A6A;
}
:hover.logout{
  cursor: pointer;
  font-weight: 700;
  color: #2F2E41;
}
.quadrado{
max-width: 950px;
margin: 85px 100px 246px 100px;
}
.resumo{
  color: #555555;
  font-weight: 600;
  font-size: 26px;
}
.componentes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.retangulo{
  width: 246px;
  height: 87px;
  display: grid;
  grid-template-areas: 
  'numCourses vector1'
  'enrolled vector1';
  border-radius: 12px;
  margin-right: 15px;
  padding: 20px 23px 20px 33px;
  background-color: #fafafa;
}
.numCourses{
  color: #595959;
  font-size: 24px;
  font-weight: 700;
  align-self:center;
  grid-area: numCourses;
}
.enrolled{
  font-size: 12px;
  grid-area: enrolled;
  color: #A5A5A5;
  font-weight: 600;
}
.numAct{
  color: #595959;
  font-weight: 700;
  font-size: 24px;
  align-self: center;
  grid-area: numCourses;
}
.nextActivities{
  align-self: center;
  grid-area: enrolled;
  color: #A5A5A5;
  font-size: 12px;
  font-weight: 600;
}
.numStud{
  color: #595959;
  font-weight: 700;
  font-size: 24px;
  align-self: center;
  grid-area: numCourses;
}
.onlineStud{
  align-self: center;
  grid-area: enrolled;
  font-size: 12px;
  font-weight: 600;
  color: #A5A5A5;
}
.proximas{
  color: #555555;
  font-size: 26px;
  font-weight: 600;
}
.atividades{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.vector1{
  grid-area: vector1;
  display: grid;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  align-self:center;
}
.vector2{
  align-self: center;
  grid-area: vector1;
  display: grid;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.vector3{
  align-self: center;
  grid-area: vector1;
  display: grid;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.card{
  width: 300px;
  margin-right: 15px;
  background-color: #fafafa;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 10px;
  text-decoration: none;
}
:hover.card{
  cursor: pointer;
}
.tarefa{
  width: 300px;
  background-color: #FCFCFC;
  border-radius: 12px;
  padding-bottom: 6px;
  margin-right: 20px;
}
.a{
  font-weight: 600;
  font-size: 10px;
  color: #737373;
  padding: 6px 20px 6px 20px;
}
.b{
  font-weight: 400;
  font-size: 12px;
  color: #4B4B4B;
  padding: 6px 20px 6px 20px;
}
.c{
  font-weight: 400;
  font-size: 8px;
  color: #8E8E8E;
  padding: 6px 20px 6px 20px;
}
.meuscursos{
  color: #555555;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
}
.header{
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-right: 20px;
  font-size: 26px;
  font-weight: 600;
  color: #555555;
}
.info{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.class{
  font-size: 16px;
  font-weight: 600;
  color: #737373;
}
.teacherimg{
  grid-area: teacherimg;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.teacher{
  align-content: center;
  display: grid;
  grid-template-areas: 
  'teacherimg teachername'
  'teacherimg responsibleteacher';
}
.teachername{
  grid-area: teachername;
  font-size: 20px;
  font-weight: 700;
  color: #727272;
}
.responsibleteacher{
  grid-area: responsibleteacher;
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}
